name: Generación de Video

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v2

    - name: Configurar Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install requests Pillow

    - name: Ejecutar script
      run: python main.py

    - name: Subir video generado
      uses: actions/upload-artifact@v3
      with:
        name: video-salida
        path: video_salida.mp4

